<%- include('partials/header'); -%>
<div class="dynamicContainer">
  <h1 id="dynamicHeading"><%= element.title %></h1>
  <hr />
  <p id="dynamicBlog"><%= element.contant%></p>
  <a id="goHome" href="/">Home</a>
</div>
<%- include('partials/footer')%>
