<%- include('partials/header'); -%>

<div class="loginForm">
  <form id="login" action="/">
    First Name :
    <input
      type="text"
      placeholder="First Name"
      name="firstName"
      id="firstName"
    />
    <br />
    Last Name :
    <input
      type="text"
      name="lastName"
      placeholder="Last Name"
      id="lastName"
    /><br />
    Password:
    <input
      type="password"
      name="password"
      placeholder="password"
      id="password"
    /><br />
    Email : <input type="email" placeholder="Email" name="email" id="email" />

    <div class="btnContainer">
      <input type="submit" value="Submit" />
      <input type="reset" value="Reset" />
    </div>
  </form>
</div>

<%- include('partials/footer'); -%>
